.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us{
    background: #f8f8f8;
}

.about_us .info{
    display: inline-block;
    /* padding-top: 7rem ; */
    /* max-width: 100vw; */
}

.about_us .info p{
    padding: 20px 7%;
}

.about_us .left_side{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 110%;
}

.about_us .left_side .square{
    flex: 1 1 30rem;
}

.about_us .left_side .square .icons{
    width: 29rem;
    display: flex;
    flex-wrap: wrap;
}

.about_us .left_side .square .icons, p{
    display: flex;
    align-items: center;
}

.about_us .left_side .square .square_inside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons .height{
    padding: .5rem 0;
    font-size: 17px;
}