header {
    display: flex;
    width:100%;
    justify-content: space-between;
    position: fixed;
    z-index: 12;
    background-color: #ffffff;
    padding: 15px 10%;
    font-size: 15px;
    box-shadow: 0px 7px 10px -5px rgba(51, 48, 48, 0.3);
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
}

.logo {
    cursor: pointer;
}

.navigation li, a {
    text-decoration: none;
    color: #111;
    font-weight: 300;
}

.navigation-menu li, a:hover {
    color: #1d89ff;
}

.blue {
    color: #1d89ff;
}

button {
    padding: 13px 30px;
    border: 1px solid;
    cursor: pointer;
}

.quote button {
    border-color: #e0e0e2;
    background-color: transparent;
    text-transform: uppercase;
    transition: .33s all ease;
}

.quote button:hover, .quote button:focus {
    background-color: #1d89ff;
    color: #fff;
}